.europe-gen-z__content {
  padding-bottom: 12px;
  @include mq(tablet) {
    padding-bottom: 48px;
  }
  .entry {
    &.prototype {
      display: none;
      opacity: 0.5;
    }

    [data-topic='psychological'] &:not(.psychological),
    [data-topic='education'] &:not(.education),
    [data-topic='relationships'] &:not(.relationships),
    [data-topic='issues'] &:not(.issues),
    [data-topic='solutions'] &:not(.solutions) {
      display: none;
    }


    position: relative;
    padding-top: 4px;
    padding-bottom: 24px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -10px;
      right: -10px;
      height: 1px;
      background-color: #dcdcdc;
      @include mq(mobileLandscape) {
        left: -20px;
        right: -20px;
      }
    }
    &__inner {
      max-width: 620px;
      @include mq(tablet) {
        margin-left: 120px;
      }
      @include mq(desktop) {
        margin-left: 160px;
        width: 460px;
        min-height: 258px;
      }
      @include mq(leftCol) {
        width: 540px;
        margin-left: 240px;
      }
      @include mq(wide) {
        margin-left: 320px;
      }
    }

    &__photo {
      width: 90px;
      float: left;
      border-radius: 8px;
      overflow: hidden;
      margin: 4px 8px 2px 0;
      @include mq(mobileLandscape) {
        margin-right: 12px;
      }
      @include mq(tablet) {
        position: absolute;
        left: 0;
        width: 100px;
        margin-top: 8px;
      }
      @include mq(desktop) {
        width: 140px;
      }
      @include mq(leftCol) {
        margin-left: 80px;
      }
      @include mq(wide) {
        margin-left: 160px;
      }
      img {
        display: block;
        width: 100%;
      }
    }

    &__name-age {
      font-family: $font-headline;
      font-size: 28px;
      line-height: 1.15;
      font-weight: 300;
      font-style: italic;
      @include mq(tablet) {
        font-size: 36px;
        position: relative;
        &:before {
          content: '';
          display: block;
          width: 1px;
          position: absolute;
          left: -10px;
          top: -4px;
          height: 41px;
          background-color: #dcdcdc;
        }
      }
    }
    &__occupation {
      font-weight: bold;
      margin-bottom: 12px;
    }
    &__optimistic {
      display: none;
      font-style: italic;
      p {
        margin: 0;
      }
      .response {
        font-style: normal;
        font-weight: bold;
      }
    }
    &__quote {
      &.empty {
        display: none;
      }
      font-family: $font-headline;
      font-weight: 200;
      font-style: italic;
      font-size: 20px;
      line-height: 24px;
      margin: -0.5em 0 12px;
      @include mq(desktop) {
        position: absolute;
        right: 0;
        top: 0;
        width: 300px;
        color: #c70000;
        &:after {
          content: '';
          background-color: #dcdcdc;
          width: 1px;
          position: absolute;
          top: 2px;
          left: -10px;
          bottom: 2px;
          display: block;
        }
      }
      @include mq(wide) {
        right: 80px;
      }
      &:before {
        content: '“';
        display: inline;
        color: #c70000;
        font-style: normal;
        font-weight: 600;
        font-size: 62px;
        line-height: 20px;
        position: relative;
        top: 0.48em;
        margin-right: 0.05em;
      }
      @include mq(tablet) {
        margin-top: -0.1em;
        font-size: 24px;
        line-height: 28px;
      }
    }
    &__intro {

    }
    &__more {
      display: flex;
      flex-direction: column;
      .more {
        padding: 0;
      }
      .less {
        display: none;
      }
      &__continuation {
        display: none;
        &:before {
          display: block;
          content: '';
          width: 40px;
          height: 2px;
          background-color: #c70000;
          margin: 0 0 8px;
        }
      }
      &__control {
        width: 140px;
        height: 32px !important;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #C70000;
        margin-top: 8px;
        // padding: 4px 0 12px;
        margin-left: -1px;
        &:hover {
          .entry__more__icon {
            transform: scale(1.1);
          }
        }
      }
      &__icon {
        width: 32px !important;
        height: 32px !important;
        background-color: currentColor;
        border-radius: 100%;
        display: inline-block;
        align-items: center;
        justify-content: center;
        transition: transform 120ms ease-in-out;
        position: relative;
        svg {
          position: absolute;
          display: block;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .ios &.more,
        .android &.more {
          position: relative;
          top: 2px;
        }
      }
      &__read-more {
        font-family: $font-sans;
        font-size: 17px;
        margin-left: 0.3em;
        padding-bottom: 2px;
      }
    }
    &.boosted,
    &.expanded {
      @include mq(leftCol) {
        .entry {
          &__inner {
            min-height: 350px;
          }
          &__photo {
            height: 350px;
            width: 220px;
            margin-left: 0;
          }
        }
      }
      @include mq(wide) {
        .entry__photo {
          margin-left: 80px;
        }
      }
    }
    &.expanded {
      .less {
        display: inline-block;
      }
      .more {
        display: none;
        padding: 0;
      }
      .entry__more {
        flex-direction: column-reverse;
        padding-top: 12px;
        &__continuation {
          display: block;
        }
        .entry__optimistic {
          display: block;
          margin-bottom: 12px;
        }
        &__control {

        }

      }
    }

  }
}
