.europe-gen-z {
  &__filters {
    position: relative;
    &__four-lines {
      .line {
        display: block;
        margin-bottom: 3px;
        height: 1px;
        background-color: #dcdcdc;
        margin-left: -10px;
        margin-right: -10px;
        @include mq(mobileLandscape) {
          margin-left: -20px;
          margin-right: -20px;
        }
      }
    }

    &__scroll-to-top {
      position: absolute;
      top: 8px;
      // top: -0.95em;
      // background-color: #FBF6EF;
      right: -10px;
      padding: 0 8px;
      height: 40px;
      display: flex;
      align-items: center;
      cursor: pointer;
      @include mq(tablet) {
        top: -40px;
        // right: -20px;
      }
      @include mq(leftCol) {
        top: 16px;
        right: 0;
      }
      &:hover {
        .europe-gen-z__filters__scroll-to-top__icon {
          background-color: #F3C100;
        }
      }
      &__label {
        font-family: $font-sans;
        font-size: 15px;
        line-height: 40px;
        @include mq(tablet) {
          font-size: 17px;
        }
      }
      &__icon {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        margin-left: 4px;
        background-color: #ffe500;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          margin-bottom: 2px;
          width: 12px;
          height: 12px;
          path {
            fill: #121212;
          }
        }
      }
    }


    &__inner {
      font-family: $font-sans;
      font-size: 15px;
      line-height: 24px;
      display: flex;
      flex-direction: column;
      padding-bottom: 200vh;
      .gen-z__loaded & {
        padding-bottom: 32px;
      }
      @include mq(tablet) {
        font-size: 17px;
      }
      @include mq(desktop) {
        flex-direction: row;
        padding-top: 4px;
        .gen-z__loaded & {
          padding-bottom: 40px;
        }
      }
    }
    &__label {
      margin: 8px 0;
      .inner {
        cursor: pointer;
        display: inline-flex;
        padding: 0 5px 2px;
        border-radius: 3px;
        background-color: #eaeaea;
        border-color: #eaeaea;
        @include mq(tablet) {
          border-radius: 4px;
          padding: 3px 7px;
        }

        [data-topic='all'] & {
          background-color: #ffe500;
          border-color: #ffe500;
        }
      }
    @include mq(desktop) {
        margin: 0 8px 0 0;
        width: 145px;
        text-align: right;
      }
      @include mq(leftCol) {
        width: 325px;
      }
      @include mq(wide) {
        width: 405px;
      }
    }
    &__options {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      @include mq(tablet) {
        flex-wrap: nowrap;
      }
      &__option {
        cursor: pointer;
        display: flex;
        padding: 0 5px 2px;
        margin: 0 8px 8px 0;
        border-radius: 3px;
        transition: all 0.5s ease-out;
        @include mq(tablet) {
          border-radius: 4px;
          padding: 3px 7px;
          white-space: nowrap;
        }
        @include mq(desktop) {
          margin: 0 8px 0 0;
        }

        background-color: #eaeaea;
        border-color: #eaeaea;

        // [data-topic='all'] & {
        //   background-color: #ffe500;
        //   border-color: #ffe500;
        // }

        [data-topic='psychological'] &[data-toggles='psychological'],
        [data-topic='education'] &[data-toggles='education'],
        [data-topic='relationships'] &[data-toggles='relationships'],
        [data-topic='issues'] &[data-toggles='issues'],
        [data-topic='solutions'] &[data-toggles='solutions'] {
          // Selected
          background-color: #ffe500;
          border-color: #ffe500;
        }
      }
      &:hover .europe-gen-z__filters__options__option {
        background-color: #eaeaea;
        border-color: #eaeaea;
        &:hover {
          background-color: #ffe500;
          border-color: #ffe500;

        }
      }
    }
  }
}
