.europe-gen-z {
  &__furniture {
    &__four-lines {
      .line {
        display: block;
        margin-bottom: 3px;
        height: 1px;
        background-color: #dcdcdc;
        margin-left: -10px;
        margin-right: -10px;
        @include mq(mobileLandscape) {
          margin-left: -20px;
          margin-right: -20px;
        }
      }
    }
    &__byline {
      font-size: 17px;
      line-height: 20px;
      font-family: $font-headline;
      font-style: italic;
      font-weight: 400;
      color: #c70000;
      margin-bottom: 12px;
      a {
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        color: inherit;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__date {
      margin-bottom: 2px;
      font-size: 12px;
      line-height: 20px;
      font-family: $font-sans;
      color: #767676;
      @include mq(desktop) {
        width: 130px;
      }
    }
    &__share {
      .ios &,
      .android & {
        display: none;
      }
      @include mq(desktop) {
        width: 130px;
      }
      @include mq(leftCol) {
        width: 210px;
      }
      @include mq(wide) {
        width: 290px;
      }
      &__one-line {
        background-color: #dcdcdc;
        width: auto;
        height: 1px;
        margin-left: -10px;
        margin-right: -10px;
        position: relative;
        top: 1px;
        z-index: 10;
        @include mq(mobileLandscape) {
          margin-left: -20px;
          margin-right: -20px;
        }
      }
      .social-icon {
        background-color: #fff;
        border: 1px solid #dcdcdc;
        width: 36px;
        height: 36px;
        &:hover {
          background-color: #121212;
          svg path {
            fill: #fff;
          }
        }
        svg path {
          fill: #121212;
        }
        svg {
          transform: scale(1.15);
          &.new-email {
            transform: scale(0.72) translate(1px, 0);
          }
        }
      }
    }
    &__standfirst {
      @include mq(desktop) {
        width: 480px;
        margin-left: 160px;
        padding-bottom: 12px;
        position: relative;
        margin-top: -76px;
      }
      @include mq(leftCol) {
        margin-left: 240px;
        width: 520px;
      }
      @include mq(wide) {
        margin-left: 320px;
      }

      &__one-line {
        background-color: #dcdcdc;
        width: auto;
        height: 1px;
        margin-left: -10px;
        margin-right: -10px;
        position: relative;
        top: 1px;
        z-index: 10;
        @include mq(mobileLandscape) {
          margin-left: -20px;
          margin-right: -20px;
        }
        @include mq(desktop) {
          position: absolute;
          top: -8px;
          left: 10px;
          bottom: 0;
          width: 1px;
          height: auto;
        }
      }
      p {
        font-family: $font-headline;
        font-size: 20px;
        line-height: 24px;
        margin: 6px 0 12px;
        max-width: 620px;
        a {
          color: inherit;
          border-bottom: 1px solid #767676;
          &:hover {
            color: #c70000;
            text-decoration: none;
            border-bottom-color: #c70000;
          }
        }
      }
    }
  }
}
